*{
    font-family:Arial, Helvetica, sans-serif
}
.img1{
    border-radius: 20%;
}
.container1{
    max-width: 400px;
}
.icon{
    gap: 90px;
    font-size: 50px;
}
.icon a{
    text-decoration: none;

}

